---
---

* {
    box-sizing: border-box;
}

html {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 1.3;
}

blockquote {
    border-left: 1px solid;
    margin-left: 1em;
    padding-left: 1em;
}

sup[role=doc-noteref] {
    font-size: inherit;
    vertical-align: baseline;
    a:before {
        content: "[";
    }
    a:after {
        content: "]";
    }
}

.footnotes {
    border-top: 1px solid;
}

nav > a {
    color: blue;
}

article {
    > p:not(:first-of-type)
    , section > p:not(:first-of-type) {
        text-indent: 1em;
    }
}

footer {
    font-size: smaller;
    text-align: center;
}

.post-info {
    font-size: smaller;
    text-indent: 1rem;
}

.abstract {
    font-size: larger;
};

.dual {
    display: flex;
    flex-wrap: wrap;
    section {
        flex: 1 1 50%;
    }
}
